/* name */
.navbarrr {
  background-color: grey;
}

h1 {
  font-size: 3.2rem;
  font-family: 'Montserrat';
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat';
}

h4 {
  font-weight: bold;
  font-family: 'Cinzel Decorative';
}

p {
  font-family: 'Andika';
  font-size: 1.2rem
}

#name {
  padding-top: 170px;
  background-image: url("title.jpg");
  height: 500px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

#about {
  margin-top: 500px;
  background-color: white;
  padding: 3%
}

.aboutp {
  font-size: 1.3rem;
  font-style: italic;
}

#skills {
  background-color: white;
  padding: 3%;
  background-image: url("skillbg.jpg");
}

.nam {
  padding-top: 90px;
}

.abouthr {
  width: 90px;
  border: 1px solid black;
  display: block;
  align: left;
  margin-left: 0
}

.imgabout:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 4px grey;
}

.skillrow {
  padding: 3%;
}

.skillclm {
  padding: 5%;
  margin: auto;
}

.aboutclmLeft {
  padding: 5%;
  margin: auto;
  padding: 60px 0 60px 0;
  margin-right: 30px
}

.aboutclmRight {
  padding: 5%;
  margin: auto;
  text-align: left;
  padding-left: 0;
}

.btnn {
  position: fixed;
  color: white;
  right: 10px;
  bottom: 10px;
  display: flow-root;
  box-shadow: 4px 4px 2px #888888;
  border-radius: 50%;
  background-color: black;
}

.btnn:hover {
  color: black;
  background-color: white;
}

/* progress circle */
.progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #44484b;
  font-size: 24px;
  color: #fff;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}

.progress.blue .progress-bar {
  border-color: #049dff;
}

.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}

.progress.yellow .progress-bar {
  border-color: #fdba04;
}

.progress.yellow .progress-left .progress-bar {
  animation: loading-3 1s linear forwards 1.8s;
}

.progress.pink .progress-bar {
  border-color: #ed687c;
}

.progress.pink .progress-left .progress-bar {
  animation: loading-4 0.4s linear forwards 1.8s;
}

.progress.green .progress-bar {
  border-color: #1abc9c;
}

.progress.green .progress-left .progress-bar {
  animation: loading-5 1.2s linear forwards 1.8s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}

@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px;
  }
}

/* fav */
#fav {
  background-color: white;
  padding: 3%;
}

.imgfav {
  width: 400px;
  height: 300px;
  padding: 5%;
  overflow: hidden;
}

.imgfav:hover {
  box-shadow: 4px 4px 4px grey;
  transform: scale(1.1);
}

.favh {
  padding-top: 14px;
}

#Contact {
  background-color: #EEEEEE;
  padding: 3%;
  text-align: center;
}

.contactdiv {
  background-color: white;
  height: 500px;
  text-align: left;
  padding: 3%;
}

.contactdiv:hover {
  box-shadow: 4px 4px 4px grey;
}

/* footer */
#footer {
  text-align: center;
  padding: 3%;
  background-color: black;
  color: white;
}

.social-icon {
  padding-right: 15px
}

@media (max-width:1028px) {
  h1 {
    font-size: 3.7rem
  }

  h2 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2rem
  }

  h5 {
    font-size: 2.2rem
  }

  p {
    font-size: 1.8rem
  }

  .imgfav {
    width: 70%;
    height: 450px;
    margin: 0
  }

  .btnn {
    width: 5rem;
    height: 5rem;
    margin-right: 4rem
  }

  .labelsiz {
    font-size: 1.5rem
  }

  .navbarrr {
    font-size: 2.1rem;
    padding: 2%;
  }

  .navbar-toggler {
    font-size: 3rem;

  }

  .favh {
    padding-top: 7rem;
  }

  .social-icon {
    font-size: 4rem;
    padding: 3rem 3rem 3rem 0;
  }
}
